Uebungen/Aufgabe_1/Loesungen/.idea/.name
Uebungen/Aufgabe_1/Loesungen/.idea/Loesungen.iml
Uebungen/Aufgabe_1/Loesungen/.idea/inspectionProfiles/Project_Default.xml
Uebungen/Aufgabe_1/Loesungen/.idea/inspectionProfiles/profiles_settings.xml
Uebungen/Aufgabe_1/Loesungen/.idea/misc.xml
Uebungen/Aufgabe_1/Loesungen/.idea/modules.xml
Uebungen/Aufgabe_1/Loesungen/.idea/vcs.xml
Uebungen/Aufgabe_1/Loesungen/.idea/workspace.xml
Uebungen/.idea/*
Uebungen/.DS_Store
Uebungen/Aufgabe_3/.idea/*