Uebungen/Aufgabe_1/Loesungen/.idea/.name
Uebungen/Aufgabe_1/Loesungen/.idea/Loesungen.iml
Uebungen/Aufgabe_1/Loesungen/.idea/inspectionProfiles/Project_Default.xml
Uebungen/Aufgabe_1/Loesungen/.idea/inspectionProfiles/profiles_settings.xml
Uebungen/Aufgabe_1/Loesungen/.idea/misc.xml
Uebungen/Aufgabe_1/Loesungen/.idea/modules.xml
Uebungen/Aufgabe_1/Loesungen/.idea/vcs.xml
Uebungen/Aufgabe_1/Loesungen/.idea/workspace.xml
Uebungen/.idea/*
Uebungen/.DS_Store
Uebungen/Aufgabe_3/.idea/*
_Projekt/datasets/_MODIFIED_Crimes_-_2001.csv
_Projekt/datasets/_MODIFIED_Crimes_-_2002.csv
_Projekt/datasets/_MODIFIED_Crimes_-_2003.csv
_Projekt/datasets/_MODIFIED_Crimes_-_2004.csv
_Projekt/datasets/_MODIFIED_Crimes_-_2005.csv
_Projekt/datasets/_MODIFIED_Crimes_-_2006.csv
_Projekt/datasets/_MODIFIED_Crimes_-_2007.csv
_Projekt/datasets/_MODIFIED_Crimes_-_2008.csv
_Projekt/datasets/_MODIFIED_Crimes_-_2009.csv
_Projekt/datasets/_MODIFIED_Crimes_-_2010.csv
_Projekt/datasets/_MODIFIED_Crimes_-_2011.csv
_Projekt/datasets/_MODIFIED_Crimes_-_2012.csv
_Projekt/datasets/_MODIFIED_Crimes_-_2013.csv
